@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SF-Pro-Regular.woff2") format("woff2"),
    url("/fonts/SF-Pro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DS-Digital";
  src: url("../fonts/PixelBus.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Milker";
  src: url("../fonts/MilkerRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Integral";
  src: url("../fonts/integral.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.fragment-mono-regular {
  font-family: "Fragment Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.fragment-mono-regular-italic {
  font-family: "Fragment Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.roboto-mono-regular {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  font-weight: 800;
  color: black;
  background-color: white;
  cursor: url("../images/cursor.svg"), auto;
}

main {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 27.5% 45% 27.5%;
  height: 95vh;
  animation: slideIn 1s ease-out forwards;
  opacity: 0;
  transition: 1s;
}

@keyframes slideIn {
  to {
    opacity: 1;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* Belangrijk voor absolute positionering van logo */
  margin: 0;
  padding: 0;
  padding-left: 3%;
  padding-right: 3%;
  height: 5vh;
  filter: drop-shadow(0px 10px 20px rgb(255, 255, 255));
  z-index: 1;
}

#logo_header_image_container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  padding: 5px;
}

#logo_header_image {
  height: 40px;
  transition: transform 0.9s ease-in-out;
  transform-style: preserve-3d;
  display: block;
}

#logo_header_image:hover {
  transform: rotateY(360deg) rotateX(5deg);
}

#nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Correct nu */
  align-items: center;
  height: 100%;
}

#nav a {
  width: 100px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 100;
  background-size: 0 0;
  text-decoration: none;
  transition: background-size 0.1s ease;
  color: black;
}

#nav a:hover {
  cursor: pointer;
  background: linear-gradient(to right, black 1px, transparent 1px) 0 0,
    linear-gradient(to right, black 1px, transparent 1px) 0 100%,
    linear-gradient(to left, black 1px, transparent 1px) 100% 0,
    linear-gradient(to left, black 1px, transparent 1px) 100% 100%,
    linear-gradient(to bottom, black 1px, transparent 1px) 0 0,
    linear-gradient(to bottom, black 1px, transparent 1px) 100% 0,
    linear-gradient(to top, black 1px, transparent 1px) 0 100%,
    linear-gradient(to top, black 1px, transparent 1px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 5px 5px;
}

#nav a:nth-child(2):hover {
  background: transparent;
}

main {
  display: grid;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 75% 22% 3%;
  grid-template-rows: repeat(3, 1fr); /* 3 rijen */
  height: 95vh; /* volledige hoogte van viewport */
}

.grid-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border-bottom: 0.5px solid #000000;
  border-left: 0.5px solid #000000;
  background-color: #ffffff;
}

.grid-item a {
  font-family: "Roboto Mono";
  font-size: 10px;
  text-decoration: none;
}
.grid-item img {
  width: 50%;
}

.grid-item:nth-child(6) #social-media {
  display: none;
}
#img {
  display: flex;
  align-items: center;
  justify-content: center;
}

#social-media {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#social-media a {
  width: 65px;
  padding: 3px;
  display: flex;
  justify-content: center;
  background-size: 0 0;
  transition: background-size 0.1s ease;
}

#social-media a:hover {
  cursor: pointer;
  background: linear-gradient(to right, black 1px, transparent 1px) 0 0,
    linear-gradient(to right, black 1px, transparent 1px) 0 100%,
    linear-gradient(to left, black 1px, transparent 1px) 100% 0,
    linear-gradient(to left, black 1px, transparent 1px) 100% 100%,
    linear-gradient(to bottom, black 1px, transparent 1px) 0 0,
    linear-gradient(to bottom, black 1px, transparent 1px) 100% 0,
    linear-gradient(to top, black 1px, transparent 1px) 0 100%,
    linear-gradient(to top, black 1px, transparent 1px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 5px 5px;
}

.text-container-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* verdeelt de items naar links en rechts */
  font-size: 15px;
  font-weight: 100;
  width: 100%;
  box-sizing: border-box;
}

#links-text-container {
  width: 50%;
}

#rechts-text-container {
  width: 30%;
}

.text-container-grid a {
  width: 110px;
  padding: 3px;
  display: flex;
  justify-content: center;
  background-size: 0 0;
  transition: background-size 0.1s ease;
}

.text-container-grid a:hover {
  cursor: pointer;
  background: linear-gradient(to right, black 1px, transparent 1px) 0 0,
    linear-gradient(to right, black 1px, transparent 1px) 0 100%,
    linear-gradient(to left, black 1px, transparent 1px) 100% 0,
    linear-gradient(to left, black 1px, transparent 1px) 100% 100%,
    linear-gradient(to bottom, black 1px, transparent 1px) 0 0,
    linear-gradient(to bottom, black 1px, transparent 1px) 100% 0,
    linear-gradient(to top, black 1px, transparent 1px) 0 100%,
    linear-gradient(to top, black 1px, transparent 1px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 5px 5px;
}

.grid-item:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  padding-bottom: 2%;
}

.grid-item:nth-child(5) {
  overflow: hidden;
  position: relative;
}

.stack-container {
  position: relative;
  width: 100%;

  height: 100%;
  perspective: 1000px;
  overflow: visible;
}

.stack-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transform: translate(100%, 100%) rotate(30deg) scale(0.8);
  animation: dropIn 0.8s ease forwards;
}

@keyframes dropIn {
  from {
    opacity: 0;
    transform: translate(100%, 100%) rotate(30deg) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translate(0, 0) rotate(0deg) scale(1);
  }
}

.emoji {
  position: absolute;
  font-size: 24px;
  animation: explode 2s ease-out forwards;
  background-color: transparent;
}

.emoji2 {
  position: absolute;
  font-size: 24px;
  animation: explode 2s ease-out forwards;
  background-color: transparent;
}

@keyframes explode {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(var(--x), var(--y)) scale(0.5);
    opacity: 0;
  }
}

#quote {
  font-family: Milker;
  font-size: 3.5vw; /* 10% van viewport breedte */
  white-space: nowrap;
  overflow: hidden;
}

.span-container {
  display: flex;
  flex-direction: column;
}

.span-container span {
  font-family: "Milker";
  font-weight: bolder;
  position: relative;
  font-weight: bold;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 2rem;
  text-align: center;
}

.wrapper {
  position: relative;
  font-weight: bold;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Milker";
  font-weight: bolder;
}

.text {
  font-size: 4rem;
  position: relative;
  z-index: 2;
  text-align: center;
  font-family: "Milker";
  background-color: transparent;
  animation: scaleSteps 1s steps(1, end) infinite;
}

.text:hover {
}

.ghost {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 4rem;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 0.5px black;
  z-index: 1;
  font-family: "Milker";
}

.ghost {
  animation: ghostFade 1s steps(1, end) infinite;
}
@keyframes scaleSteps {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(0.5);
  }
  75% {
    transform: scale(0.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes ghostFade {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  25% {
    opacity: 1;
    transform: scale(1);
  }
  35% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(0.75);
  }
  60% {
    opacity: 0;
  }
  75% {
    opacity: 1;
    transform: scale(0.5);
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.grid-item:nth-child(7) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  padding: 0;
  margin: 0;
  user-select: none;
  overflow: hidden;
  line-height: normal;
}

.grid-container-text {
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  user-select: none;
}

.grid-container-text ul {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  padding: 0;
  animation: scroll 80s linear infinite;
  min-width: max-content;
  background-color: transparent;
  list-style: none;
}

.grid-container-text li {
  display: flex;
  align-items: center;
}

.grid-container-text span {
  font-family: "Integral";
  font-weight: 100;
  font-size: 40px;
  margin: 0;
  white-space: nowrap;
  background-color: transparent;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

#black span {
  -webkit-text-stroke: 1.5px black;
  color: transparent;
}

.grid-item:nth-child(8) {
  display: grid;
  grid-template-rows: repeat(3, 1fr); /* 3 rijen */
  grid-template-columns: repeat(3, 1fr); /* 3 kolommen */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  gap: 0;
}

.inner-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 200;
  height: 100%;
  text-align: center;
  width: 100%;
}

.inner-cell:nth-child(7) button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  font-size: 20px;
  transition: 0.5s;
}

.inner-cell:nth-child(7) button:hover {
  transform: scale(0.75);
}

.controls {
  width: 50px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 200;
  background-size: 0 0;
  text-decoration: none;
  border: none;
  transition: background-size 0.1s ease;
  color: black;
}

.controls:hover {
  cursor: pointer;
  background: linear-gradient(to right, black 1px, transparent 1px) 0 0,
    linear-gradient(to right, black 1px, transparent 1px) 0 100%,
    linear-gradient(to left, black 1px, transparent 1px) 100% 0,
    linear-gradient(to left, black 1px, transparent 1px) 100% 100%,
    linear-gradient(to bottom, black 1px, transparent 1px) 0 0,
    linear-gradient(to bottom, black 1px, transparent 1px) 100% 0,
    linear-gradient(to top, black 1px, transparent 1px) 0 100%,
    linear-gradient(to top, black 1px, transparent 1px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 5px 5px;
}

.grid-item:nth-child(2) {
  display: grid;
  grid-template-rows: repeat(3, 1fr); /* 3 rijen */
  grid-template-columns: repeat(1, 1fr); /* 3 kolommen */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  gap: 0;
  margin: 0;
  padding: 0;
}

.grid-item:nth-child(2) .inner-cell:nth-child(3) {
  padding: 10%;
  padding-bottom: 7%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.grid-item:nth-child(2) .inner-cell:nth-child(3) span {
  font-weight: 100;
}
